<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="loginStyle.css">
    <title>login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);  
        app.controller('myCtrl', function($scope, $http) {
            $scope.submitlogin = function() {
                $http.post("login.php", {
                    'uname': $scope.uname,
                    'password': $scope.password
                }).then(function(response) {
                    console.log(response);
                });
            }
        });
    </script>
</head>
<body>
    <div class="center">
        <h1>LOGIN</h1> 
               
        <form >
        
        <div class="txt_field">
                <input type="text" ng-model="l.Uname" placeholder="">
                <span></span>
                <label>Username</label>
                
        </div>

        <div class="txt_field">
            <input type="password" ng-model="l.pass" placeholder="">
            <span></span>
            <label>Password</label>
                
        </div>
        
            <div class="pass">forgot password? <a href="#">Click here</a></div>
            <input type="submit" class="loginButton" name="submitlogin" value="Login">
            <div class="signup_link">
                Not a member? <a href="#"> sign up</a>
            </div>

        </form>
    </div>
</body>
</html>